<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clav App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>945DD7EBFC763C190A14B6B37D94E177FEC87473</string>
				<key>dateExpires</key>
				<string>26/09/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>99WFW77CV4.com.rsalesarm.clavapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>99WFW77CV4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Clav App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>734f8d5c-cbab-4607-bf2b-ffab81302650</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.rsalesarm.clavapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>99WFW77CV4</string>
				<key>name</key>
				<string>RSalesArm IT Services Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
